@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
<head>    
    <script src="~/js/conversation.js" defer></script>
    <link rel="stylesheet" href="~/css/conversation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
</head>

<audio id="audio"></audio>
<audio id="start-sound"></audio>
    <div class="conversation-wrapper">
        <div class="conversation-container">
        </div>
    </div>
    <div class="gui-bar">
        <textarea type="text" id="input" placeholder="Typ een bericht..."></textarea>

        <div id="finish-conversation" class="finish-conversation">
            <p id="finish-conversation-text">Finish conversation</p>
        </div>
        <div class="gui-buttons">
            <div class="microphone-container" id="microphone-container">
                <button class="microphone-button" id="microphone-button">
                    <i class="fa-solid fa-microphone"></i>
                </button>
                <div class="microphone-backdrop" id="microphone-backdrop">
                </div>
            </div>
            <button id="submit">
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </div>


    </div>

</div>



