@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/js/review.js" defer></script>
    <link rel="stylesheet" href="~/css/review.css">
</head>

<div class="review-container" id="review-container">
    <div class="text-container">
        <h1 id="help-us-h1">Help ons</h1>
        <p id="help-us-p">Wij willen graag weten hoe je de chatbot hebt ervaren. Laat ons weten wat je van de chatbot
            vindt.</p>
    </div>
    <form class="review-form" id="review-form">
        <label for="radio" id="how-satisfied">Hoe tevreden ben je over de antwoorden die je hebt gekregen?</label>
        <div class="emoji-container">
            <div class="item">
                <label for="0">
                    <input class="radio" type="radio" name="feedback" id="0" value="0">
                    <img src="https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/svg/1f92c.svg">
                </label>
            </div>
            <div class="item">
                <label for="1">
                    <input class="radio" type="radio" name="feedback" id="1" value="1">
                    <img src="https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/svg/1f641.svg">
                </label>
            </div>
            <div class="item">
                <label for="2">
                    <input class="radio" type="radio" name="feedback" id="2" value="2">
                    <img src="https://i.imgflip.com/57sdav.png">
                </label>
            </div>
            <div class="item">
                <label for="3">
                    <input class="radio" type="radio" name="feedback" id="3" value="3">
                    <img src="https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/svg/1f601.svg">
                </label>
            </div>
            <div class="item">
                <label for="4">
                    <input class="radio" type="radio" name="feedback" id="4" value="4">
                    <img src="https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/svg/1f60d.svg">
                </label>
            </div>
        </div>
        <label for="review-text" id="comments-request">Heb je nog opmerkingen?</label>
        <textarea class="review-text" id="review-text"
            placeholder="Laat hier een opmerking achter."></textarea>
        <div class="form-buttons">
            <button type="button" id="skip">Overslaan</button>
            <button type="submit" id="submit-review" class="submit-review" disabled>Klaar</button>
        </div>
    </form>
</div>
<div class="review-container" id="grattitude-container">
    <div class="text-container">
        <h1 id="thanks-h1">Bedankt voor je feedback!</h1>
        <p id="thanks-p">Wij waarderen je feedback enorm. Bedankt voor het helpen verbeteren van de chatbot.</p>
    </div>
    <img id="grattitude-gif" src="~/resources/pedro.gif" alt="Feedback illustration">
    <button type="button" id="close-grattitude">Sluiten</button>
</div>



