@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="~/js/index.js" defer></script>
    <link rel="stylesheet" href="~/css/index.css">
</head>


<div class="container languages">
    <div class="text-container">
        <h1 id="heading">Selecteer een taal</h1>
        <p id="paragraph">De chatbot zal in deze taal antwoorden.</p>
    </div>
    <div class="language-select">
        <div class="language cover" id="Nederlands">
            <img src="~/resources/dutch_flag.png" alt="dutch_flag">
            <p>Nederlands</p>
            <i class="fa-solid fa-chevron-down" id="dropdown-icon"></i>
        </div>
        <div class="languages-list">
            <div class="language current" id="Nederlands">
                <img src="~/resources/dutch_flag.png" alt="dutch_flag">
                <p>Nederlands</p>
            </div>
            <div class="language" id="English">
                <img src="~/resources/uk_flag.png" alt="english_flag">
                <p>English</p>
            </div>
            <div class="language" id="Deutsch">
                <img src="~/resources/german_flag.png" alt="german_flag">
                <p>Deutsch</p>
            </div>
            <div class="language" id="Français">
                <img src="~/resources/french_flag.png" alt="french_flag">
                <p>Français</p>
            </div>
            <div class="language" id="Español">
                <img src="~/resources/spanish_flag.png" alt="spanish_flag">
                <p>Español</p>
            </div>
        </div>
    </div>

    <div class="qr-container" id="qr-container">
        <div id="qrcode" class="qrcode"></div>
        <p id="qr-info">Scan de QR code om de chatbot te openen op je telefoon.</p>
    </div>
    <button type="button" id="submit-language">
        <p id="start-conversation">Start gesprek</p>
    </button>
    <p id="agreement">Door op start gesprek te klikken ga je akkoord met de </p>
</div>
