@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/unauthorized.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>intelliBot</title>
    <link rel="icon" type="image/x-icon" href="~/resources/intelliguide_icon.ico">

</head>
<div class="wrapper">
    <div class="container unauthorized">
        <h1>Toegang geweigerd</h1>
        <p>Je hebt helaas geen toegang tot deze pagina.</p>
        <p>Mogelijk is de link waarmee je toegang kreeg verlopen.</p>
        <p>Probeer het later opnieuw.</p>
        <a href="https://www.intelliguide.nl/">Keer terug naar de website</a>
    </div>
</div>