@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>intelliBot</title>
    <link rel="icon" type="image/x-icon" href="~/resources/intelliguide_icon.ico">
    <script src="~/js/conversation.js" defer></script>
    <link rel="stylesheet" href="~/css/conversation.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/biq6ldp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="page-container">
        <div class="navbar">
            <div class="title">
                <h1>CONVERSATION</h1>
            </div>
            <div class="help">
                <p>Help</p>
                <i class="fa-solid fa-circle-question"></i>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="conversation-wrapper">
                <div class="conversation-container">
                </div>
            </div>
            <div class="gui-bar">
                <div class="microphone-container">
                    <button class="microphone-button" id="microphone-button">
                        <i class="fa-solid fa-microphone"></i>
                    </button>
                    <div class="microphone-backdrop" id="microphone-backdrop">
                    </div>
                </div>
                <button id="submit">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
            <button type="button" id="finish-conversation">Beëindig gesprek</button>
        </div>
    </div>
</body>
</html>

