#submit-review {

}

.review-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 500px;
    align-items: start;
    background-color: white;
    border-radius: 20PX;
    box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.review-container .text-container {
    border-left: 5px solid #5468FF;
    padding-left: 20px;
}